* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "sans-serif";
}

ol,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a:active {
  color: darkgray;
}

a:link {
  color: darkgray;
}

a:visited {
  color: darkgray;
}

#nav-wrap {
  width: 100%;
  height: 450px;
  border-top: 30px solid rgb(25, 37, 59);
}
#nav-wrap #nav {
  width: 85%;
  height: 100px;
  margin: 0 auto;
}
#nav-wrap #nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#nav-wrap #nav ul li {
  width: 100%;
  height: 100%;
  margin: 0 30px;
  font-size: 15px;
  font-weight: bold;
  line-height: 130px;
  text-align: center;
}
#nav-wrap #nav ul li a:link {
  color: black;
}
#nav-wrap #nav ul li a:visited {
  color: black;
}
#nav-wrap #nav ul li a:hover {
  color: darkorange;
}

#logo img {
  width: 400px;
  height: 77px;
  margin-top: 30px;
}

#popup {
  position: fixed;
  left: 300px;
  bottom: 0;
  width: 70%;
  height: 70px;
  background-color: rgb(40, 65, 110);
  color: white;
  z-index: 200;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
}
#popup #popup-open {
  position: fixed;
  left: 300px;
  bottom: 0;
  width: 70%;
  height: 300px;
  background-color: rgb(22, 61, 97);
  color: white;
  z-index: 202;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  opacity: 0.8;
  padding: 26px 0;
  display: none;
}
#popup #popup-open #popup-tit {
  font-size: 20px;
  color: white;
  text-align: center;
}
#popup #popup-open #popup1 {
  width: 90%;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
#popup #popup-open #popup1 .popbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#popup #popup-open #popup1 .popbox img {
  margin: 20px 0;
}
#popup #popup-open #popup1 .popbox p {
  font-size: 13px;
  font-weight: bold;
  color: white;
}
#popup #popup-open #popup2 {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#popup #popup-open #popup2 img {
  width: 140px;
  height: 40px;
  margin-top: 10px;
}
#popup #popup-open #popup2 p {
  font-weight: bolder;
}
#popup #popup-open #popup2 p:hover {
  text-decoration: underline;
  cursor: pointer;
}
#popup #popup-open #popup2 button {
  width: 150px;
  height: 40px;
  background-color: #ffd000;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#popup #popup-open #popup2 button:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.747) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#popup #popup-wrap {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#popup #popup-wrap img {
  width: 140px;
  height: 40px;
  margin-top: 10px;
}
#popup #popup-wrap p {
  font-weight: bolder;
}
#popup #popup-wrap p:hover {
  text-decoration: underline;
  cursor: pointer;
}
#popup #popup-wrap button {
  width: 150px;
  height: 40px;
  background-color: #ffd000;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#popup #popup-wrap button:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.747) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

section {
  background-color: lightgreen;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  position: relative;
}
section .swiper {
  width: 100%;
  height: 100%;
}
section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grabbing;
}
section .swiper .swiper-slide .text {
  width: 80%;
  height: 600px;
  position: absolute;
  transform: translate(-50, -50);
  z-index: 10;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .swiper .swiper-slide .text .text-t {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0 40px 0;
  color: white;
}
section .swiper .swiper-slide .text hr {
  width: 20%;
  border: 0.5px solid rgb(255, 153, 0);
  margin: 0 auto;
}
section .swiper .swiper-slide .text .text-main {
  font-size: 100px;
  margin: 50px 0;
  color: white;
}
section .swiper .swiper-slide .text .text-main:hover {
  color: rgb(255, 153, 0);
  cursor: pointer;
}
section .swiper .swiper-slide .text .text-ex {
  font-size: 25px;
  margin: 40px 0;
  color: white;
}
section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  filter: brightness(30%);
}
section .swiper .swiper-pagination {
  bottom: 50px;
}
section .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(138, 119, 71);
  opacity: 0.7;
  width: 15px;
  height: 15px;
}
section .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 153, 0);
  transform: scale(1.2);
}

#book-animation {
  width: 95%;
  height: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 190px;
  left: 40px;
  z-index: 100;
}
#book-animation .book-wrap {
  width: 40px;
  height: 590px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin: 0 5px;
}
#book-animation .book-wrap .side {
  width: 40px;
  height: 600px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#book-animation .book-wrap .side #title {
  color: white;
  font-size: 13px;
  font-weight: bolder;
  margin: 30px 10px;
}
#book-animation .book-wrap .side #writer {
  font-size: 11px;
  margin: 30px 12px;
  font-weight: bolder;
}
#book-animation .book-wrap .side .side-fill {
  width: 40px;
  height: 500px;
  background-image: linear-gradient(to right, #e7b400, #ecb900, #f0bf00, #f5c400, #f9ca00, #f9ca00, #f9ca00, #f9ca00, #f5c400, #f0bf00, #ecb900, #e7b400);
  transition: all 1s;
  display: flex;
  justify-content: space-between;
  writing-mode: vertical-lr;
  margin: 0 auto;
  text-align: center;
}
#book-animation .book-wrap .side .side-fill:hover {
  cursor: pointer;
  box-shadow: rgba(10, 10, 19, 0.322) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#book-animation .book-wrap .main {
  width: 0px;
  height: 600px;
  text-align: center;
  margin-top: 100px;
  /* display:none; */
}
#book-animation .book-wrap .main .main-fill {
  width: 300px;
  height: 500px;
  background-image: linear-gradient(to right, #1400e7, #006fff, #009dff, #00c0d8, #00deb3, #65dc7f, #a1d447, #dbc500, #ff9001, #ff434f, #ff0098, #d200e7);
  text-align: center;
  transition: 1.2s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(90deg);
  /* display: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: -4px;
}
#book-animation .book-wrap .main .main-fill .deco {
  width: 258px;
  height: 110px;
  position: absolute;
  z-index: 101;
  margin-top: 47px;
}
#book-animation .book-wrap .main #title2 {
  font-size: 17px;
  margin: 90px 20px 0 20px;
  color: white;
  font-weight: bolder;
}
#book-animation .book-wrap .main #writer2 {
  font-size: 13px;
  margin-bottom: 40px;
  font-weight: bolder;
}
#book-animation .book-wrap .main .main-fill2 {
  transform-origin: left;
  transform: rotateY(0deg);
  margin-right: 20px;
}
#book-animation .book-wrap .main .main-fill:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.795) 0px 20px 30px -10px;
}

.side-fill2 {
  transform-origin: right;
  transform: perspective(14000px) rotateY(90deg);
  margin-right: -20px;
}

#best-seller {
  width: 100%;
  height: 1500px;
}
#best-seller #best-seller-wrap {
  width: 80%;
  height: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
#best-seller #best-seller-wrap .best-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#best-seller #best-seller-wrap .best-title #best-t {
  font-size: 30px;
  margin: 10px 0 0 0;
}
#best-seller #best-seller-wrap .best-title .best-line1 {
  width: 100%;
  border: 0.5px solid lightgray;
  margin: 10px 0 0 0;
}
#best-seller #best-seller-wrap .best-title .best-line2 {
  width: 100%;
  border: 1px solid black;
  margin: 5px 0;
}
#best-seller #best-seller-wrap .best-title #best-ex {
  font-size: 15px;
  color: rgb(97, 97, 97);
  margin: 10px 0;
}
#best-seller .select {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 0;
}
#best-seller .select select {
  width: 150px;
  height: 30px;
  border: 1px solid transparent;
  cursor: pointer;
}
#best-seller .line1 {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
#best-seller .line1 .b1:nth-child(5) {
  border-right: 1px solid transparent;
}
#best-seller .line1 .b1 {
  width: 277px;
  height: 350px;
  margin: 40px 0 0 0;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgba(177, 176, 176, 0.801);
}
#best-seller .line1 .b1 #best-title {
  color: black;
  font-size: 14px;
  white-space: wrap;
  font-weight: bolder;
}
#best-seller .line1 .b1 h6 {
  margin: 10px 0;
}
#best-seller .line1 .b1 h5 {
  width: 220px;
  height: 35px;
  color: rgb(92, 91, 91);
  padding: 5px 30px;
  font-size: 10px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#best-seller .line1 .num {
  width: 40px;
  height: 35px;
  background-color: rgb(25, 37, 59);
  color: white;
  border-radius: 0 0 20px 0;
  font-size: 20px;
  padding-top: 5px;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 100;
}
#best-seller .line1 #line1-bt {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 153, 0);
  border: 1px solid transparent;
  cursor: pointer;
  margin: 5px 0;
}
#best-seller .line1 #line1-bt:hover {
  color: white;
  background-color: black;
}

#buy {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buy #buy-wrap {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: contain;
  margin: 0 auto;
  background-color: rgb(25, 37, 59);
  border-bottom: 20px solid rgb(255, 174, 0);
}
#buy #buy-tit {
  width: 80%;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 10%);
  color: white;
}
#buy #buy-tit .buy-titfont {
  font-size: 20px;
  margin: 5px 0;
  font-weight: bolder;
}
#buy #buy-tit .byu-titfont2 {
  font-size: 15px;
  margin: 10px 0;
}
#buy #buy-tit .buy-titfont3 {
  text-decoration: underline;
}
#buy #buy-tit #buy-box {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#buy #buy-tit #buy-box .buy-ex {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
}
#buy #buy-tit #buy-box .buy-ex i {
  font-size: 80px;
  margin-top: 20px;
  color: white;
}
#buy #buy-tit #buy-box .buy-ex .buy-tt {
  font-size: 40px;
  color: rgb(255, 153, 0);
  font-weight: bolder;
}
#buy #buy-tit #buy-box .buy-ex .buy-exx {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(165, 165, 165);
  font-weight: bolder;
}

#chronicle {
  width: 100%;
  height: 1200px;
  background-color: lightgreen;
}

#talk {
  width: 100%;
  height: 1200px;
  background-color: lightskyblue;
}

#ending {
  width: 100%;
  height: 1000px;
  background-color: lightsteelblue;
}

footer {
  background-color: gold;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
footer #footer-wrap {
  background-color: tomato;
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
footer #footer-wrap #footer-up {
  width: 100%;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-wrap #footer-up #footer1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #footer-wrap #footer-up #footer1 ul li {
  margin: 0 20px;
  font-size: 30px;
}
footer #footer-wrap #footer-up #footer2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #footer-wrap #footer-up #footer2 ul li {
  margin: 0 20px;
  font-size: 30px;
}
footer #footer-wrap #footer-up #footer2 ul li i:hover {
  color: white;
}
footer #footer-wrap #footer-bottom {
  width: 100%;
  height: 100px;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-wrap #footer-bottom #footer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 15px;
}
footer #footer-wrap #footer-bottom #footer4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 15px;
}