$mainColor: gold;
$subColor: pink;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'sans-serif';
}

ol,
ul,
li {
    text-decoration: none;
    list-style-type: none;
}

a:active {
    color: rgb(255, 153, 0);
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

// header

#promotion-code {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 174, 0);
    color: white;
    font-weight: bolder;
    line-height: 30px;
    font-size: 12px;

}

#header-top {
    width: 80%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    // margin-top: 20px;
    // background-color: lightgoldenrodyellow;

    img {
        width: 240px;
        height: 48px;
        margin-top: 10px;
    }

    #search {
        width: 30%;
        height: 40px;
        border-bottom: 1px solid navy;

        i {
            font-size: 20px;
        }

        input {
            width: 90%;
            height: 35px;
            border: 1px solid transparent;
        }
    }

    select {
        width: 170px;
        height: 30px;
        border: 1px solid white;
        font-size: 15px;
        color: gray;
        text-align: center;

        option {
            border: 1px solid transparent;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;


        li {
            margin: 0 10px;
            text-align: center;

            i {
                font-size: 30px;
                padding: 10px 0;
                cursor: pointer;
            }

            p {
                font-size: 12px;
                font-weight: bolder;
            }
        }
    }
}

#header-bottom {
    width: 100%;
    height: 50px;
    background-color: rgb(36, 37, 66);


    #header-wrap {
        width: 80%;
        height: 50px;
        background-color: rgb(36, 37, 66);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                font-size: 13px;
                margin: 0 10px;
                font-weight: bolder;
                color: white;

            }

            li:hover {
                color: rgb(255, 174, 0);
                cursor: pointer;
            }

        }

    }
}


#blank {
    width: 100%;
    height: 300px;
}

//팝업
#popup {
    position: fixed;
    left: 300px;
    bottom: 0;
    width: 70%;
    height: 60px;
    background-color: rgb(40, 65, 110);
    color: white;
    z-index: 200;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;

    #popup-open {
        position: fixed;
        left: 300px;
        bottom: 0;
        width: 70%;
        height: 300px;
        background-color: rgb(40, 65, 110);
        color: white;
        z-index: 190;
        text-align: center;
        margin: 0 auto;
        border-radius: 20px 20px 0 0;
        // opacity: 0.8;
        padding: 26px 0;
        display: none;

        #popup-tit {
            font-size: 20px;
            color: white;
            text-align: center;
            font-weight: bolder;
        }

        #popup1 {
            width: 90%;
            height: 230px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;

            .popbox {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    margin: 20px 0;
                }

                p {
                    font-size: 13px;
                    font-weight: bold;
                    color: white;

                }
            }
        }

        #popup2 {
            width: 90%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            img {
                width: 140px;
                height: 40px;
                margin-top: 10px;
            }

            p {
                font-weight: bolder;
            }

            p:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            button {
                width: 150px;
                height: 40px;
                background-color: rgb(255, 187, 0);
                font-weight: bolder;
                text-align: center;
                border-radius: 10px;
                margin-top: 10px;
                border: 1px solid transparent;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }

            button:hover {
                cursor: pointer;
                box-shadow: rgba(14, 30, 37, 0.747) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }

            a {
                color: black;
                font-weight: bolder;
            }
        }
    }

    #popup-wrap {
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        z-index: 204;

        a {
            color: black;
            font-weight: bolder;
        }

        img {
            width: 140px;
            height: 40px;
            margin-top: 10px;
        }

        p {
            font-weight: bolder;
        }

        p:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        button {
            width: 150px;
            height: 40px;
            background-color: rgb(255, 187, 0);
            font-weight: bolder;
            text-align: center;
            border-radius: 10px;
            margin-top: 1px;
            border: 1px solid transparent;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }

        button:hover {
            cursor: pointer;
            box-shadow: rgba(14, 30, 37, 0.747) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }



    }
}


// #glass i {
//     transform: scaleX(-1);
//     font-size:15px;
// }


// section
section {
    background-color: lightgreen;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    position: relative;

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: grabbing;



            .text {
                width: 80%;
                height: 600px;
                position: absolute;
                transform: translate(-50, -50);
                // background-color: rgba(169, 169, 169, 0.493);
                z-index: 10;
                margin: 0 auto;
                margin-top: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text-t {
                    font-size: 30px;
                    font-weight: bolder;
                    margin: 20px 0 40px 0;
                    color: white;
                }

                hr {
                    width: 20%;
                    border: 0.5px solid rgb(255, 153, 0);
                    margin: 0 auto;
                }

                .text-main {
                    font-size: 100px;
                    margin: 50px 0;
                    color: white;
                }

                .text-main:hover {
                    color: rgb(255, 153, 0);
                    cursor: pointer;
                }

                .text-ex {
                    font-size: 25px;
                    margin: 40px 0;
                    color: white;
                }
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0.8;
                position: absolute;
                filter: brightness(30%)
            }
        }

        .swiper-pagination {
            bottom: 50px;

            .swiper-pagination-bullet {
                background-color: rgb(138, 119, 71);
                opacity: 0.7;
                width: 15px;
                height: 15px;
            }

            .swiper-pagination-bullet-active {
                background-color: rgb(255, 153, 0);
                transform: scale(1.2);
            }
        }
    }
}

#book-animation {
    width: 95%;
    height: 550px;
    // background-color: rgba(250, 235, 215, 0.623);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 190px;
    left: 40px;
    z-index: 100;
    // transform: translate(5%, 5%);



    .book-wrap {
        width: 40px;
        height: 590px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        margin: 0 5px;
        // position:absolute;

        .side {
            width: 40px;
            height: 600px;
            text-align: center;
            overflow: hidden;
            display: flex;
            align-items: center;



            #title {
                color: white;
                font-size: 13px;
                font-weight: bolder;
                margin: 30px 10px;
            }

            #writer {
                font-size: 11px;
                margin: 30px 12px;
                font-weight: bolder;
                // color: aliceblue;
            }

            .side-fill {
                width: 40px;
                height: 500px;
                // border: 1px solid transparent;
                //파랑계열
                // background-image: linear-gradient(to left, #242b57, #263160, #283769, #2a3d73, #2b437c, #2b437c, #2b437c, #2b437c, #2a3d73, #283769, #263160, #242b57);

                //노랑계열
                background-image: linear-gradient(to right, #d18700, #d98d00, #e29200, #ea9800, #f39e00, #f39e00, #f39e00, #f39e00, #ea9800, #e29200, #d98d00, #d18700);

                // background-image:url(../img/side1.PNG);
                // background-repeat: no-repeat;
                // background-size:contain;
                // background-position:center;

                -webkit-transition: 1s;
                transition: all 1s;
                // position:absolute;
                display: flex;
                justify-content: space-between;
                writing-mode: vertical-lr;
                margin: 0 auto;
                text-align: center;



            }

            .side-fill:hover {
                cursor: pointer;
                box-shadow: rgba(10, 10, 19, 0.322) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            }

        }


        .main {
            width: 0px;
            height: 600px;
            text-align: center;
            margin-top: 100px;

            /* display:none; */
            // position:absolute;

            .main-fill {
                width: 300px;
                height: 500px;
                // background-color: rgb(8, 48, 82);
                // 파랑계열
                // background-image: linear-gradient(to right top, #1b2041, #1f284e, #232f5b, #263868, #294076, #294076, #294075, #294075, #263766, #232f58, #1f274a, #1a1f3d);

                //노랑계열
                // background-image: linear-gradient(to left bottom, #d18700, #d98d00, #e29200, #ea9800, #f39e00, #f39e00, #f39e00, #f39e00, #ea9800, #e29200, #d98d00, #d18700);


                // background-image: linear-gradient(to right, #ffa600, #e99800, #d48a01, #bf7c01, #aa6e01);

                background-image: linear-gradient(to left top, #fdcf4e, #fdcc44, #fdc83a, #fec52e, #fec120, #fcbe18, #faba0e, #f8b700, #f3b300, #edaf00, #e8ac00, #e3a800);
                
                // background-image:url(../img/cover1.PNG);
                // background-repeat: no-repeat;
                // background-size:contain;
                // background-position:center;

                // border: 1px solid transparent;
                text-align: center;
                -webkit-transition: 1.2s;
                transition: 1.2s;
                transform-origin: left;
                -webkit-transform: rotateY(45deg);
                transform: perspective(2000px) rotateY(90deg);
                // position:absolute;
                /* display: none; */
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                margin-left: -4px;

                .deco {
                    width: 258px;
                    height: 110px;
                    position: absolute;
                    z-index: 101;
                    margin-top: 47px;
                }

            }

            #title2 {
                font-size: 14px;
                margin: 90px 20px 0 20px;
                color: rgb(255, 255, 255);
                font-weight: bolder;
            }

            #writer2 {
                font-size: 13px;
                margin-bottom: 40px;
                font-weight: bolder;
                // color: aliceblue;
            }

            .main-fill2 {
                transform-origin: left;
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
                margin-right: 20px;


            }

            .main-fill:hover {
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.795) 0px 20px 30px -10px;


            }

        }

    }
}



.side-fill2 {
    transform-origin: right;
    -webkit-transform: rotateY(45deg);
    transform: perspective(14000px) rotateY(90deg);
    margin-right: -20px;

}



#best-seller {
    width: 100%;
    height: 1500px;
    // background-color: burlywood;

    #best-seller-wrap {
        width: 80%;
        height: 1200px;
        // background-color: lightslategray;
        margin: 0 auto;
        padding-top: 50px;

        .best-title {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            #best-t {
                font-size: 30px;
                margin: 10px 0 0 0;
            }

            .best-line1 {
                width: 100%;
                border: 0.5px solid lightgray;
                margin: 10px 0 0 0;
            }

            .best-line2 {
                width: 100%;
                border: 1px solid black;
                margin: 5px 0;
            }

            #best-ex {
                font-size: 15px;
                color: rgb(97, 97, 97);
                margin: 10px 0;
            }
        }
    }

    .select {
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0 0 0;


        select {
            width: 150px;
            height: 30px;
            border: 1px solid transparent;
            cursor: pointer;
        }
    }

    .line1 {
        width: 95%;
        // height: 320px;
        // background-color: gold;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        .b1:nth-child(5) {
            border-right: 1px solid transparent;
        }

        .b1 {
            width: 290px;
            height: 350px;
            // background-color: rgba(119, 136, 153, 0.63);
            margin: 40px 0 0 0;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-right: 1px solid rgba(177, 176, 176, 0.801);

            img {
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }



            #best-title {
                color: black;
                font-size: 14px;
                white-space: wrap;
                font-weight: bolder;
            }

            h6 {
                margin: 10px 0;
            }

            h5 {
                width: 220px;
                height: 35px;
                color: rgb(92, 91, 91);
                // display:block; 
                padding: 5px 30px;
                font-size: 10px;
                // white-space: nowrap;
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; // 원하는 라인수
                -webkit-box-orient: vertical;
            }
        }

        .num {
            width: 40px;
            height: 35px;
            background-color: rgb(25, 37, 59);
            color: white;
            border-radius: 0 0 20px 0;
            font-size: 20px;
            padding-top: 5px;
            font-weight: bolder;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;

        }

        #line1-bt {
            width: 100px;
            height: 30px;
            background-color: rgb(255, 153, 0);
            border: 1px solid transparent;
            cursor: pointer;
            margin: 5px 0;
        }

        #line1-bt:hover {
            color: white;
            background-color: black;
        }
    }

}

#buy {
    width: 100%;
    height: 400px;
    position: relative;
    // background-color: rgb(255, 153, 0);
    // background-image: url(../img/books-with-amazon-smile_331427528_21-9_1280.jpg);
    // background-size: cover;
    // background-position: contain;

    display: flex;
    justify-content: center;
    align-items: center;


    #buy-wrap {
        width: 100%;
        height: 400px;
        // background-image: url(../img/book1.jpg);
        background-size: cover;
        background-position: contain;
        margin: 0 auto;
        background-color: rgb(19, 29, 46);
        border-bottom: 20px solid rgb(255, 174, 0);
        // filter: brightness(60%);

        // img{width: 100%; height: 400px; filter: brightness(50%);}
    }

    #buy-tit {
        width: 80%;
        height: 400px;
        // background-color: rgba(128, 128, 128, 0.445);
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        z-index: 10;
        top: -49px;
        left: 50%;
        transform: translate(-50%, 10%);
        color: white;

        .buy-titfont {
            font-size: 30px;
            margin: 0 0 20px 0;
            font-weight: bolder;
        }

        .byu-titfont2 {
            font-size: 15px;
            margin: 10px 0;
        }

        .buy-titfont3 {
            text-decoration: underline;
        }

        #buy-box {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            .buy-ex {
                width: 30%;
                height: 200px;
                margin-bottom: 40px;
                // background-color: rgba(255, 255, 255, 0.473);


                i {
                    font-size: 80px;
                    margin-top: 20px;
                    color: white;
                }

                .buy-tt {
                    font-size: 40px;
                    color: rgb(255, 153, 0);
                    font-weight: bolder;
                }

                .buy-exx {
                    font-size: 13px;
                    font-weight: bolder;
                    color: rgb(165, 165, 165);
                    font-weight: bolder;
                }
            }
        }
    }
}


//chart
#chart {
    width: 100%;
    height: 1145px;
    background-color: rgba(143, 248, 143, 0.699);
    margin-top: 5px;

    #chart-wrap {
        width: 100%;
        background-color: white;
        margin: 0 auto;


        #chart-title {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-top: 70px;


            p:nth-child(1) {
                font-size: 17px;
                font-weight: bolder;

                span {
                    text-decoration: underline;
                }
            }

            p:nth-child(2) {
                font-size: 100px;
                font-weight: bolder;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            p:nth-child(3) {
                font-size: 15px;
                // font-weight: bolder;
            }
        }


        #chart-menu {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-top: 40px;
            font-size: 25px;
            font-weight: bolder;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

            p {
                width: 300px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            p:hover {
                border-bottom: 4px solid black;
                cursor: pointer;
            }
        }

        #chart-submenu {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            // font-weight: bolder;

            p {
                width: 120px;
                height: 25px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            p:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }



        }

        .chart1 {
            width: 85%;
            height: 530px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;


            .chart-box {
                width: 25%;
                height: 550px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                margin-right: 50px;
                margin-top: 50px;
                position: relative;
                flex-direction: column;


                .chart-num {
                    width: 50px;
                    height: 90px;
                    font-size: 60px;
                    font-weight: bolder;
                    text-align: center;
                    // background-color: gray;
                    position: absolute;
                    top: 0;
                    left: 17px;
                    // font-family: Georgia, 'Times New Roman', Times, serif;
                }



                .rank {
                    width: 0px;
                    height: 0px;
                    border-bottom: 35px solid #6f7dff;
                    border-left: 22px solid transparent;
                    border-right: 22px solid transparent;
                    font-size: 20px;
                    font-weight: bolder;
                    text-align: center;
                    // background-color:rgb(252, 73, 73);
                    position: absolute;
                    top: 90px;
                    left: 20px;


                    a {
                        padding-right: 30px;
                        position: absolute;
                        top: 7px;
                        left: -6px;
                        color: white;
                    }


                }

                .rank1 {
                    width: 0px;
                    height: 0px;
                    border-top: 35px solid #e74412;
                    border-left: 22px solid transparent;
                    border-right: 22px solid transparent;
                    font-size: 20px;
                    font-weight: bolder;
                    text-align: center;
                    // background-color:rgb(252, 73, 73);
                    position: absolute;
                    top: 90px;
                    left: 20px;


                    a {
                        padding-right: 30px;
                        position: absolute;
                        top: -37px;
                        left: -7px;
                        color: white;
                    }


                }

                .chart-book {
                    width: 70%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // background-color: gold;
                    text-align: center;

                    img {
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    }

                    h4::before {
                        content: "301 WEEKS ON THE LIST";
                        display: block;
                        font-size: 11px;
                        color: rgb(53, 150, 230);
                        text-align: center;
                        margin: 10px 0;
                        font-weight: bolder;

                    }

                    h4 {
                        width: 240px;
                        word-break: keep-all;
                        font-weight: bolder;
                        font-size: 19px;
                    }

                    h6::before {
                        content: "PUBLISHER: POTTERMORE PUBLISHING";
                        display: block;
                        font-size: 11px;
                        color: rgb(126, 127, 128);
                        text-align: center;
                        margin: 10px 0;

                    }

                    h6::after {
                        content: "";
                        background-image: url(../img/kindle.png);
                        background-size: 130px 17px;
                        background-repeat: no-repeat;
                        width: 132px;
                        height: 18px;
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        margin-top: 14px;
                    }

                }


                .chart-icon {
                    width: 40%;
                    height: 50px;
                    font-size: 30px;
                    color: black;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    i:hover {
                        cursor: pointer;
                        // background-color: black;
                        color: rgb(255, 187, 0);
                    }

                }

                .review-bt {
                    width: 100%;
                    height: 60px;
                    background-color: black;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;
                    cursor: pointer;

                    .bt-front {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            margin-left: 10px;
                            font-size: 30px;
                        }

                        p {
                            margin: 0 10px;
                            font-size: 15px;
                            font-weight: bolder;
                        }


                    }


                    .reviewbox {
                        width: 130px;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                        align-items: center;

                        p {
                            display: flex;

                            i {
                                font-size: 15px;
                                color: white;
                                // border: 1px solid black;
                                // background-color: white;

                            }
                        }

                        span {
                            font-size: 11px;
                            color: white;
                            margin-top: 10px;
                        }


                    }
                }

                .review-bt:hover {
                    background-color: rgb(0, 122, 223);
                }
            }
        }


        #chart-img {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-style: italic;
                font-weight: bolder;
            }

            img {
                width: 200px;
                height: 90px;
                margin-top: 50px;
            }

            #underline {
                text-decoration: underline;
            }

            #blue {
                color: rgb(0, 140, 255);
                text-decoration: underline;
                font-weight: bolder;
            }
        }
    }

}

//켤때 픽션버튼 눌러져있는 효과
.fic-effect {
    background-color: black;
    color: white;
    cursor: pointer;
}




#talk {
    width: 100%;
    height: 600px;
    // background-color: lightskyblue;
    position: relative;

    #talk-bg {
        width: 100%;
        height: 100%;
        background-image: url("../img/GettyImages-961442608-68a9f6aaa0ef455890f2a95b4357941c.jpg");
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        margin: 0 auto;
        filter: brightness(20%);
        opacity: 0.9;
        z-index: -1;

    }

    // img{width: 100%; height: 600px ; filter: brightness(30%);}

    #talk-wrap {
        width: 85%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;

        #talk-top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-bottom: 1px solid rgb(255, 174, 0);

            h5 {
                font-size: 40px;
                margin: 10px 0;
                color: rgb(255, 174, 0);
                text-align: center;

                p {
                    font-size: 15px;
                    // margin: 10px 0;
                    color: white;
                    text-align: center;
                }

            }

            p {
                font-size: 12px;
                // text-decoration: underline;
                color: white;

                a {
                    text-decoration: underline;
                }
            }

            h1 {
                font-size: 40px;
                text-align: center;
                margin: 40px 0;
                color: white;
            }

            h1:hover {
                cursor: pointer;
                color: #ffa600;
            }

        }

        #talk-bottom {
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            #q1 {
                width: 50%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
                margin-top: 20px;
                border-right: 1px solid rgb(255, 174, 0);

                p:nth-child(1) {
                    font-size: 15px;
                    font-weight: bolder;
                    margin: 20px 0;
                    color: white;
                    // text-decoration: underline;
                }

                p:nth-child(2) {
                    font-size: 25px;
                    font-weight: bolder;
                    margin: 10px 0;
                    color: white;
                }

                p:nth-child(2):hover {
                    cursor: pointer;
                    color: #ffa600;
                }

            }

            #q2 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                margin: 0 auto;
                margin-top: 20px;

                p:nth-child(1) {
                    font-size: 15px;
                    font-weight: bolder;
                    margin: 20px 0;
                    color: white;
                    // text-decoration: underline;
                }

                p:nth-child(2) {
                    font-size: 25px;
                    font-weight: bolder;
                    margin: 10px 62px;
                    color: white;
                }

                p:nth-child(2):hover {
                    cursor: pointer;
                    color: #ffa600;
                }


            }
        }
    }

}

#club {
    width: 100%;
    height: 290px;
    // background-color: rgb(182, 212, 157);
    // background: linear-gradient( rgb(56, 56, 56) 70%, transparent);

    #club-wrap {
        margin: 0 auto;
        width: 90%;
        height: 270px;

        #club-top {
            // background-color: lightcoral;

            h1 {
                text-align: center;
                font-size: 20px;
            }

            #club-box {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 20px 0;


                .club-bookimg {
                    width: 120px;
                    float: left;
                    text-align: center;
                    margin: 0 20px;

                    img {
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    }

                    img:hover {
                        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    }


                    h4 {
                        font-size: 12px;
                        margin: 10px 0;
                    }

                    h6 {
                        font-size: 10px;
                        color: rgb(87, 87, 87);
                    }
                }

                .club-bookimg1 {
                    width: 120px;
                    float: left;
                    text-align: center;
                    margin: 0 20px;

                    img {
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    }

                    img:hover {
                        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    }



                    h4 {
                        font-size: 12px;
                        margin: 10px 0;
                    }

                    h6 {
                        font-size: 10px;
                        color: rgb(87, 87, 87);
                    }
                }
            }
        }
    }

}

#last {
    width: 100%;
    height: 900px;
    // background-color: lightsteelblue;

    #last-wrap {
        width: 100%;
        height: 800px;
        margin: 0 auto;
        text-align: center;

        #last-top {
            width: 100%;
            height: 120px;
            background-color: rgb(6, 31, 56);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            hr {
                width: 20%;
                border: 2px solid rgb(12, 140, 219);
                margin: 0 auto;
            }

            p {
                font-size: 40px;
                text-align: center;
                font-weight: bolder;
                border: 1px 0 1px 0 solid rgb(0, 91, 228);
                margin: 10px 0 15px 0;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }

        #last-bottom {
            width: 100%;
            height: 400px;

            img {
                width: 58%;
                height: 110px;
                margin: 0 auto;
                margin-top: 20px;
            }

            #review-box {
                width: 1730px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                img {
                    width: 410px;
                    height: 288px;
                    margin: 10px;
                }

                img:hover {
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                }
            }
        }

    }
}






// footer

footer {
    // background-color: $mainColor;
    width: 100%;
    height: 200px;
    margin: 0 auto;

    #footer-wrap {
        // background-color: tomato;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        #back-top {
            width: 100%;
            height: 50px;
            font-size: 14px;
            background-color: rgb(63, 67, 77);
            text-align: center;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            // font-weight: bolder;
        }

        #back-top:hover {
            cursor: pointer;
            background-color: rgb(82, 87, 100);
        }

        #footer-up {
            width: 100%;
            // background-color: $mainColor;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #footer1 {
                width: 100%;
                height: 400px;
                background-color: rgb(35, 40, 49);
                margin: 0 auto;

                #footer1-wrap {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: top;
                    margin-top: 50px;

                    ul {
                        margin: 0 20px;

                    }

                    li {
                        margin: 10px 20px;
                        font-size: 16px;
                        color: white;

                        img {
                            width: 150px;
                            height: 100px;
                            margin-left: - 10px;
                        }
                    }

                    li:nth-child(1) {
                        font-size: 18px;
                        font-weight: bolder;
                    }

                    li:hover {
                        cursor: pointer;
                        text-decoration: underline;

                    }

                    li:nth-child(1):hover {
                        cursor: none;
                        text-decoration: none;
                    }


                }


            }
        }

        #footer2 {
            width: 100%;
            height: 60px;
            background-color: rgb(35, 40, 49);
            border-top: 1px solid rgba(211, 211, 211, 0.562);
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                width: 150px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0 10px;

                select {
                    width: 135px;
                    background-color: transparent;
                    color: white;
                    border: 1px solid rgba(185, 184, 184, 0);
                    text-align: center;

                    option {
                        width: 135px;
                        height: 20px;
                        border-radius: 5px;
                        padding: 5px;
                        font-size: 12px;
                        // font-weight: bolder;
                        color: black;

                        img {
                            width: auto;
                        }

                    }
                }


                #amazon-logo {
                    width: 100px;
                    height: 30px;
                    padding-top: 5px;
                }

                #korea-logo {
                    width: 20px;
                    height: 10px;
                }
            }



        }
    }

    #footer-bottom {
        width: 100%;
        height: 110px;
        background-color: rgb(21, 24, 31);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 11px;
        padding-top: 20px;
    }

    margin: 0 auto;
}